@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-4xl;
  }
  h2 {
    @apply font-bold text-3xl;
  }
  h3 {
    @apply font-bold text-2xl border-b;
  }
  p {
    @apply text-sm;
  }
}
